<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>DOG DETAILS</h1>
    <p>Name: <%= @dog.name %></p>
    <p>Age: <%= @dog.age %></p>
    <p>Size: <%= @dog.size %></p>
    <p>Breed: <%= @dog.breed %></p>

    <p>Ok with cats?</p>
      <p><%=  @dog.ok_w_cats == 't'? "yes" : "no" %></p>

    <p>Ok with other dogs?</p>
      <p><%=  @dog.ok_w_dogs == 't'? "yes" : "no" %></p>

    <p>Ok with children?</p>
      <p><%=  @dog.ok_w_children == 't'? "yes" : "no" %></p>

    <p><%= @dog.bio %></p>

    <p><a href="/dogs/<%= @dog.id %>/edit">Edit Dog Details</a></p>

    <form action="/dogs/<%= @dog.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

  </body>
</html>
