<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>OWNER DETAILS</h1>

    <p>Name: <%= @owner.name %></p>
    <p>Email: <%= @owner.email %></p>
    <p>Phone: <%= @owner.phone %></p>

    <p>Has cats? </p>
    <p><%= @owner.has_cats == 't'? "yes" : "no" %></p>

    <p>Has other dogs? </p>
      <p><%= @owner.has_other_dogs == 't'? "yes" : "no" %></p>

    <p>Has children? </p>
    <p><%= @owner.has_children == 't'? "yes" : "no" %></p>

    <p>Bio <%= @owner.bio %></p>

    <hr>

    <h2> Reserved for <%= @owner.name %> </h2>
    <% @dogs.each do |dog| %>
      <% if dog.owner_id == @owner.id %>
        <ul><%= dog.name %></ul>
      <% end %>
    <% end %>

<hr>

    <a href="/owners/<%= @owner.id %>/edit">Edit Owner details</a>

    <form action="/owners/<%= @owner.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

  </body>
</html>
