<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dog Details</title>
  </head>
  <body>

  <h1 class="title"><%= @dog.name%></h1>
    <div class="dog_details_container">

      <div class="dog_profile_image">
        <img src="/images/<%= @dog.image_name %>.jpg" alt="dog profile image">
        <h4><a href="/dogs/<%= @dog.id %>/edit">Edit Details</a></h4>
      </div>

      <div class="dog_primary_details">
          <h4>
            Status:  
              <% if @dog.owner_id == @no_owner %>
                <span style="color:green"><%= "Available" %></span>
              <% else %>
                <%= "Reserved" %>
              <% end %>
          </h4>
          <p>Name: <%= @dog.name %></p>
          <p>Age: <%= @dog.age %></p>
          <p>Size: <%= @dog.size %></p>
          <p>Breed: <%= @dog.breed %></p>
          <p>Bio: <%= @dog.bio %></p>
      </div>

      <div class="dog_secondary_details">
        <h4>Extra info about this dog:</h4>
        <p>Ok with cats? <strong><%=   @dog.ok_w_cats == 't'? "  &#9989" :  "  &#10060" %></strong></p>
        <p>Ok with other dogs? <strong><%=  @dog.ok_w_dogs == 't'? "  &#9989" : "  &#10060" %></strong></p>
        <p>Ok with children? <strong> <%=  @dog.ok_w_children == 't'? "  &#9989" : "  &#10060" %></strong></p>
      </div>

      <div class="dog_third_details">
          <% @owners.each do |owner| %>
            <% if owner.id == @dog.owner_id && owner.name != 'no owner' %>
              <h4>Current Owner:</h4>
              <p><%= owner.name %></p>
            <% end %>
          <% end %>
      </div>

    </div>

    <div class="divider">
      <hr>
    </div>
       
    <form class="delete_button" action="/dogs/<%= @dog.id %>/delete" method="POST">
      <input type="submit" value="Delete">
    </form>
    
  </body>
</html>
